In [1]:
from opyenxes.model.XLog import XLog
from opyenxes.data_in.XUniversalParser import XUniversalParser
from opyenxes.classification.XEventAttributeClassifier import XEventAttributeClassifier
import pandas as pd
import numpy as np

In [2]:
bpic_path = "../logs/bpic2012.xes"

with open(bpic_path) as bpic_file:
    bpic_rlog = XUniversalParser().parse(bpic_file)

Unknown extension: http://www.xes-standard.org/meta_time.xesext
Unknown extension: http://www.xes-standard.org/meta_life.xesext
Unknown extension: http://www.xes-standard.org/meta_org.xesext
Unknown extension: http://www.xes-standard.org/meta_concept.xesext
Unknown extension: http://www.xes-standard.org/meta_3TU.xesext
Unknown extension: http://www.xes-standard.org/meta_general.xesext

In [3]:
bpic_log = bpic_rlog[0] # the rest of this array is empty anyway as len(bpic2011_rlog) == 1
raw_trace = bpic_log[0]
raw_event = raw_trace[0]
raw_attributes = raw_event.get_attributes()

## All attributes of the first trace and their occurence along it

In [4]:
# collect all attributes
attribute_list = []

for event in raw_trace:
    event_attributes = event.get_attributes()
    
    for attribute in event_attributes:
        attribute_list.append(attribute)
        
attribute_list = set(attribute_list) # remove duplicates

event_indices = range(0,len(raw_trace))
attribute_labels = attribute_list
attribute_dict = {attr:[] for attr in attribute_list}

trace_df = pd.DataFrame(columns=attribute_labels, index=event_indices)

for event_idx,event in enumerate(raw_trace):
    event_attributes = event.get_attributes()
    for attribute in event_attributes:
        trace_df.iloc[event_idx][attribute] = event_attributes[attribute].get_value()

In [5]:
trace_df

,time:timestamp,org:resource,concept:name,lifecycle:transition
0,2011-10-01 00:38:44.546000+02:00,112,A_SUBMITTED,COMPLETE
1,2011-10-01 00:38:44.880000+02:00,112,A_PARTLYSUBMITTED,COMPLETE
2,2011-10-01 00:39:37.906000+02:00,112,A_PREACCEPTED,COMPLETE
3,2011-10-01 00:39:38.875000+02:00,112,W_Completeren aanvraag,SCHEDULE
4,2011-10-01 11:36:46.437000+02:00,NaN,W_Completeren aanvraag,START
5,2011-10-01 11:42:43.308000+02:00,10862,A_ACCEPTED,COMPLETE
6,2011-10-01 11:45:09.243000+02:00,10862,O_SELECTED,COMPLETE
7,2011-10-01 11:45:09.243000+02:00,10862,A_FINALIZED,COMPLETE
8,2011-10-01 11:45:11.197000+02:00,10862,O_CREATED,COMPLETE
9,2011-10-01 11:45:11.380000+02:00,10862,O_SENT,COMPLETE
10,2011-10-01 11:45:11.554000+02:00,NaN,W_Nabellen offertes,SCHEDULE
11,2011-10-01 11:45:13.917000+02:00,NaN,W_Completeren aanvraag,COMPLETE
12,2011-10-01 12:15:41.290000+02:00,NaN,W_Nabellen offertes,START
13,2011-10-01 12:17:08.924000+02:00,NaN,W_Nabellen offertes,COMPLETE
14,2011-10-08 16:26:57.720000+02:00,10913,W_Nabellen offertes,START
15,2011-10-08 16:32:00.886000+02:00,10913,W_Nabellen offertes,COMPLETE
16,2011-10-10 11:32:22.495000+02:00,11049,W_Nabellen offertes,START
17,2011-10-10 11:33:03.668000+02:00,11049,O_SENT_BACK,COMPLETE
18,2011-10-10 11:33:04.560000+02:00,11049,W_Valideren aanvraag,SCHEDULE
19,2011-10-10 11:33:05.791000+02:00,11049,W_Nabellen offertes,COMPLETE
20,2011-10-13 10:05:26.925000+02:00,10629,W_Valideren aanvraag,START
21,2011-10-13 10:37:29.226000+02:00,10629,A_REGISTERED,COMPLETE
22,2011-10-13 10:37:29.226000+02:00,10629,A_APPROVED,COMPLETE
23,2011-10-13 10:37:29.226000+02:00,10629,O_ACCEPTED,COMPLETE
24,2011-10-13 10:37:29.226000+02:00,10629,A_ACTIVATED,COMPLETE
25,2011-10-13 10:37:37.026000+02:00,10629,W_Valideren aanvraag,COMPLETE